<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="shijiaBean" class="com.wsj.stronger.ShijiaBean"/>

	<bean id="myBeanFactoryPostProcessor" class="com.wsj.stronger.MyBeanFactoryBeanPostProcessor"/>
	<bean id="myBeanPostProcessor" class="com.wsj.stronger.MyBeanPostProcessor"/>
</beans>